.nav{
    background-color: brown;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;

}
a{
    color: white;
    text-decoration: none;
    padding: 20px;
}
ul{
    list-style: none;
    display: flex;
    justify-content:center;
    align-items: center;
    margin: 0;
}
.active-link{
    background-color: white;
    color: brown;
}